version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: hms_postgres
    environment:
      POSTGRES_DB: hms_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: hms_backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
    command: npm run dev

volumes:
  pgdata:
